{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}RWC - Assignment{% endblock %}

{% block page_content %}
{% include '_assignments.html' %}
<h4 id="questions">questions</h4>
{% if current_user.can(Permission.QUESTION) %}
<div class="question-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_questions.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.assignment', fragment='#questions', id=assignments[0].id) }}
</div>
{% endif %}
{% endblock %}
